<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <script src="../static/code.js" defer></script>
        <title>about</title>
    </head>
    <body>
        <header>
            <h1 class="title">About Me</h1>
        </header>
        <section>
            <div class="content">I'm a computer science student at USU. This will be my fourth year here.
                In my free time, I like to crochet, draw, or play video games. I like anything D&D related. 
                I run two campaigns, and I play in my roommate's campaigns as well!
            </div>
        </section>
    </body>
</html>