<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <script src="../static/code.js" defer></script>
        <title>experience</title>
    </head>
    <body>
        <header>
            <h1 class="title">Experience</h1>
        </header>
        <section class="content">
            <li class="list">2 years as a sales ssociate at Bath and Body Works</li>
            <li class="list">1 semester as the new guy at Ducky Corp.</li>
            <li class="list">2 years as a farmer in Stardew Valley</li>
        </section>
    </body>
</html>