<html lang="eng">
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <script src="../static/code.js" defer></script>
        <title>index</title>
    </head>
    <body>
        <header>
            <h1 class="title">Rox Seeley</h1>
        </header>
        <section id="links">
            <span class="links">About</span>
            <span class="links">Projects</span>
            <span class="links">Experience</span>
        </section>
        <section>
            
            <div class="content">Hello! This is my webpage for my CS 2610 Assignment!</div>
        </section>
    </body>
</html>