<!DOCTYPE html>
<html lang="eng">
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <script src="../static/code.js" defer></script>
        <title>Projects</title>
    </head>
    <body>
        <header>
            <h1 class="title">Projects</h1>
        </header>
        <section class="content">
            <h2>Fractal Generation</h2>
            <div>Refactored and added new functionality to a Fractal Generator at Ducky Corp (CS1440).</div>
            <h2>Hex Game</h2>
            <div>Created a version of the game hex, where two players compete to place pieces connecting left to right or top to bottom. Implemented a union find for the win condition. (CS 2420)</div>
            <h2>Spell Craft</h2>
            <div>[Current] Creating a potion making game using html, css, and js, based on D&D.</div>
        </section>
    </body>
</html>