<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css" />
    <title>Activity</title>
</head>
<body>
    <header class="page-title">
        <h1 >Activity</h1>
        <a href="/new_timelog" class="new-link">New Timelog</a>
    </header>
    <span> make table?</span>
    <table>
        <tr>
            <th>Start At</th>
            <th>End At</th>
            <th>Total Time</th>
        </tr>
        {% if times %}
            {%for time in times%}
                <tr>
                    <td>{{time.start-time}}</td>
                    <td>{{time.end-time}}</td>
                    <td></td>
                </tr>
            {%endfor%}
        {%else%}
        <p>No times yet!</p>
        {%endif%}
    </table>
    
</body>
</html>