<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css" />
    <title>Activity</title>
</head>
<body>
    <header class="page-title">
        <h1 >Activity</h1>
        <a href="/new_timelog" class="new-link">New Timelog</a>
    </header>
    <span> make table?</span>
    <ul>
        <li>timelog</li>
        <li>timelog</li>
        <li>timelog</li>
        <li>timelog</li>
    </ul>
    
</body>
</html>