<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css" />
    <title>Activity</title>
</head>
<body>
    <header>
        <h1 class="page-title">Activity</h1>
    </header>
    <span> put a link here for an activity timelog</span>
    <ul>
        <li>timelog</li>
        <li>timelog</li>
        <li>timelog</li>
        <li>timelog</li>
    </ul>
    
</body>
</html>