{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Tracker/styling.css' %}" />
    <link rel="stylesheet" href="{% static 'Tracker/forms.css' %}" />
    <title>Add Timelog</title>
</head>
<body>
    <header>
        <h1 class="page-title">New Timelog</h1>
    </header>
    <div class="spacer"></div>
    <form method="POST">
        <input type="hidden" name="activity_id" value="{{ activity.id }}">
        <label for="name">Start time:</label><br>
        <input type = "datetime-local" id="start_time" name="start_time"><br>
        <label for="name">End time:</label><br>
        <input type = "datetime-local" id="end_time" name="end_time"><br>
        <button class="submit" >Submit</button>
    </form>
</body>
</html>