<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css" />
    <title>Add Timelog</title>
</head>
<body>
    <header></header>
        <h1 class="page-title">New Timelog</h1>
    </header>
    <div class="spacer"></div>
    <form>
        <label for="name">Start time:</label><br>
        <input type = "datetime" id="start-time" class="textbox" name="start-time"><br>
        <label for="name">End time:</label><br>
        <input type = "datetime" id="end-time" class="textbox" name="end-time"><br>
        <button class="submit" >Submit</button>
    </form>
</body>
</html>