body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(211, 188, 192);
    color: rgb(14, 16, 61);
    text-align: center;
    align-items: center;
    
}

.page-title{
    width: auto;
    background-color: rgb(14, 16, 61);
    color: rgb(211, 188, 192);
    text-align: left;
    margin: 0px;
    padding: 20px;
}

.spacer{
    padding:20px;
}

#activity-list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
}

.activity-block{
    display:flex;
    text-align: center;
    width: 200px;
    height:100px;
    padding: 35px;
    margin:20px;
    border-radius: 15%;
    background-color: rgb(105, 48, 109);
    color:rgb(211, 188, 192);
}


.textbox{
    margin-bottom: 20px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.submit{
    margin-top: 20px;
    padding: 10px;
    width: auto;
    border: 2px solid rgb(14, 16, 61);
    border-radius:15px;
    background-color: rgb(105, 48, 109);
    color:rgb(211, 188, 192)
}

