{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Destinations/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'Destinations/destinations.css' %}" />
    <title>Destinations</title>
</head>
<body>
    <header class="page-title">
        <h1 >Destinations</h1>
        <section id="links">
            <a href="/" class="new-link">Home</a>
            <a href="/destinations/new" class="new-link">New Post</a>
            <a href="/sessions/destroy" class="new-link">Log Out</a>
        </section>
    </header>
    <section id="review-container">
        <div class="spacer"></div>
        {%if posts%}
            {%for post in posts%}
            <div class="review-block">
                <h2 class="place">{{post.name}}</h2>
                <div class="review">{{post.review}}</div>
                <div class="rating">{{post.rating}} / 5</div>
                <a href="{% url 'edit' post.id %}" class="edit-link">Edit</a>
            </div>
            {% endfor %}
        {% else %}
            <p>No destinations yet!</p>
        {%endif%}
    </section>
</body>
</html>