{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Destinations/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'Destinations/destinations.css' %}" />
    <title>Destinations</title>
</head>
<body>
    <header class="page-title">
        <h1 >Destinations</h1>
        <section id="links">
            <a href="/" class="new-link">Home</a>
            <a href="/destinations/new" class="new-link">New Post</a>
            <a href="/sessions/destroy" class="new-link">Log Out</a>
        </section>
    </header>
</body>
</html>