{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Destinations/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'Destinations/destinations.css' %}" />
    <title>Home</title>
</head>
<body>
    <header class="page-title">
        <h1 >Destinations</h1>
        <section id="links">
            {%for link in links%}
            <a href={{link.url}} class="new-link">{{link.name}}</a>
            {% endfor %}
        </section>
    </header>
    <div class="spacer"></div>
    <section id="review-container">
        {%if destinations%}
            {%for destination in destinations%}
            <div class="review-block">
                <h2 class="place">{{destination.name}}</h2>
                <div class="review">{{destination.review}}</div>
                <div class="rating">{{destination.rating}} / 5</div>
            </div>
            {% endfor %}
        {% else %}
            <p>No destinations yet!</p>
        {%endif%}
    </section>
</body>
</html>