{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Destinations/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'Destinations/forms.css' %}" />
    <title>New Destination</title>
</head>
<body>
    {% csrf_token %}
    <header class="page-title">
        <h1 >Destinations</h1>
        <section id="links">
            <a href="" class="new-link">Home</a>
            <a href="/sessions/destroy" class="new-link">Log Out</a>
        </section>
    </header>
    <div class="spacer"></div>
    <form method="POST">
        <label for="location">Name:</label><br>
        <input type = "text" id="location" name="name"><br>
        <label for="review">Review</label><br>
        <input type = "text" id="review" name="review"><br>
        <label for="score">Rating</label><br>
        <input type = "number" id="rating" name="rating" min="1" max="5"><br>
        <input type = "checkbox" id="public" name="public" value="True">
        <label for="public">Show publicly?</label> <br>
        <button class="submit" >Submit</button>
    </form>
</body>
</html>